{% extends 'base.html' %}
{% load static %}
{% block title %}
My Courses
{% endblock title %}
{% block nav %}
{% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
    <div class="navitems"><a href="{% url 'courseList' %}">My courses</a></div>
    <div class="navitems"><a href="{% url 'addCourse' %}">Add course</a></div>
    {% endif %}
    <div class="navitems"><a href="{% url 'profile' %}">Profile</a></div>
    {% else %}
    <div class="navitems"><a href="{% url 'account_signup' %}">Sign in</a></div>
    {% endif %}
{% endblock nav %}
{% block content %}
<div class="container">
{% for i in courses %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.description}}</p>
    <a href="{{i.get_absolute_url}}" class="card-link">Visit courses</a>
    <a href="{% url 'requestCourse' i.slug %}" class="card-link">Request</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}